__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
.idea/
.vscode/
.DS_Store
*.swp
*.swo
*~
.claude
.obsidian
note.txt
.ruff_cache
CLAUDE.md
docs/